@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Segoe UI", sans-serif;
}

body {
    @apply w-full min-h-screen max-h-screen bg-background text-foreground flex flex-col overflow-y-auto;
    font-family: Arial, Helvetica, sans-serif;
}

.locale-btn {
    @apply flex w-full items-center gap-4 rounded-md border border-solid border-foreground bg-background transition-all;
    @apply hover:scale-105;
    z-index: 1;
}

.locale-btn.active {
    @apply scale-105;
    box-shadow: 0 0 8px 0 #1A1A1A;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.20);
    opacity: 0.3;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(176, 176, 176, 0.3);
}