@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-full min-h-screen bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
}

.locale-btn {
    @apply flex w-full items-center gap-4 rounded-md border border-solid border-foreground bg-background transition-all;
    @apply hover:scale-105;
    z-index: 1;
}

.locale-btn.active {
    @apply scale-105;
    box-shadow: 0 0 8px 0 #1A1A1A;
}